env/
*.bat
**/.ipynb_checkpoints/*
.env*
/datasets/eda_dataset/*
/datasets/training_dataset/*
/datasets/dataset_with_features/*
**/__pycache__/
env
# environment / secrets
.env
.env.*
env/
scripts/apis/env
scripts/apis/*.env
*.key
*.pem
*.license
**/.env
**/.env.*

