env/
*.bat
**/.ipynb_checkpoints/*
.env*
/datasets/eda_dataset/*
/datasets/training_dataset/*
/datasets/dataset_with_features/*
**/__pycache__/
ipynbs/training/models/random_forest_model_with_no_feature_filtration.pkl