body {
      width: 200px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f9f9f9;
      font-family: Arial, sans-serif;
      border-radius: 25%;
    }
    button {
      padding: 10px;
      background: #e74c3c;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
    button:hover {
      background: #c0392b;
    }